
.experience
    margin-top: 25vh
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 90vw

.icon-experience-about
    width: 30vw
    margin-bottom: 2.5vw
.experience-info-about-box
    font-size: 2vw
    width: 55vw
.experience-line-height
    margin-bottom: 1vw
    color: white

.red-text
    color: red