.education
    display: flex
    justify-content: center
    align-items: center
    margin: 25vh 0 10vh

.icon-education-about
    width: 30vw
    order: 1

.education-info-about-box
    order: 2
    width: 60vw

.education-info-date-about
    color: #656565
    font-size: 2.5vw
    margin-bottom: 2vw

.education-container
    display: flex
    justify-content: center
    align-items: center

@media screen and (max-width: 440px)
    .education
        display: block
        margin: 15vh 0 10vh

    .icon-education-about
        margin-left: 10vw
        width: 50vw

    .education-info-date-about
        font-size: 8vw