.card
    width: 85vw
    margin: 10vh 0
.card-info-about-box
    font-size: 2.5vw
    width: 45vw
.icon-card-about
    margin-right: -3vw
    width: 45vw
.red-text
    color: red
.card-container
    width: 85vw
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap

@media screen and (max-width: 440px)
    .card-text-name-about
        font-size: 7vw
        margin-left: 1vw
        color: white