.text-color-red
    color: red
.title-contacts
    font-family: "Inter-bold"
    font-size: 8vw
    margin: 0 auto
.contacts
    a
        text-decoration: none
.contacts-box
    font-family: "Inter-bold"
    font-size: 2vw
.text-color-white
    color: white